<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- <bean class="controller.RegisterController"/> -->
	<bean id="memberController" class="member.controller.MemberController">
	    <property name="memberService" ref="memberServiceImpl"/>
	    <property name="pwdEncoder" ref="bcryptPasswordEncoder"></property>	
	    <property name="sm" ref="SendMail"></property>    
	</bean>
	
	<bean id ="loginController" class = "member.controller.LoginController">
		<property name="authService" ref = "authService"></property>
		<property name="pwdEncoderCheck" ref="bcryptPasswordEncoder"></property>
		 <property name="memberService" ref="memberServiceImpl"/>
	</bean>
	
</beans>
